body {
  background-color: #fff;
}

.wrapper-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper-login .logo {
  margin-bottom: 30px;
}
.wrapper-login .logo img {
  width: 100px;
}
.wrapper-login .text-wrapper {
  margin-bottom: 40px;
}
.wrapper-login .text-wrapper p {
  margin-bottom: 0;
  font-size: 27px;
  font-weight: bold;
}
.wrapper-login input {
  border-radius: 50px;
  height: calc(1.6em + 0.75rem + 10px);
  padding: 0.375rem 1.2rem;
}
.wrapper-login .btn-primary {
  color: #fff;
  margin-top: 20px;
  background-color: #37ebe0;
  border-color: #37ebe0;
  padding-top: 10px;
  padding-bottom: 10px;
}