<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
    RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]
    Redirect 301 /english https://balumed.pl
    Redirect 301 /russian https://balumed.pl
    Redirect 301 /o-nas https://balumed.pl
    Redirect 301 /nasze-uslugi https://balumed.pl
    Redirect 301 /nasi-specjalisci https://balumed.pl/specjalisci
    Redirect 301 /przezklatkowe-usg-pluc-dzieci-2 https://balumed.pl/usg-dzieciece-i-echo-serca
    Redirect 301 /uslugi/pediatria-i-neonatologia/neonatologia https://balumed.pl/neonantologia
    Redirect 301 /uslugi/ginekologia-i-poloznictwo/ginekologia https://balumed.pl/ginekologia
    Redirect 301 /uslugi/pracownia-usg-echo-serca https://balumed.pl/usg-dzieciece-i-echo-serca
    Redirect 301 /uslugi/rehabilitacja-fizjoterapia/rehabilitacja https://balumed.pl
    Redirect 301 /uslugi/fototerapia-w-domu https://balumed.pl/fototerapia-w-domu
    Redirect 301 /uslugi/punkt-szczepien-i-laboratorium/punkt-pobran-materialu-do-badan-laboratoryjnych https://balumed.pl/badania-laboratoryjne
    Redirect 301 /uslugi/poradnia-laktacyjna-i-dietetyczna/poradnia-laktacyjna https://balumed.pl
    Redirect 301 /uslugi/szkolenia-dla-rodzicow https://balumed.pl
    Redirect 301 /uslugi/pediatria-i-neonatologia/pediatria https://balumed.pl/pediatria
    Redirect 301 /uslugi/ginekologia-i-poloznictwo/poloznictwo https://balumed.pl/ginekologia
    Redirect 301 /uslugi/rehabilitacja-fizjoterapia/fizjoterapia https://balumed.pl
    Redirect 301 /uslugi/punkt-szczepien-i-laboratorium/punkt-szczepien-dla-dzieci-i-doroslych https://balumed.pl/punkt-szczepien
    Redirect 301 /uslugi/poradnia-laktacyjna-i-dietetyczna/poradnia-dietetyczna https://balumed.pl/poradnia-dietetyczna
    Redirect 301 /specjalizacje/alergolog https://balumed.pl
    Redirect 301 /specjalizacje/chirurg-dzieciecy https://balumed.pl
    Redirect 301 /specjalizacje/dermatolog https://balumed.pl
    Redirect 301 /specjalizacje/dietetyk https://balumed.pl/poradnia-dietetyczna
    Redirect 301 /specjalizacje/fizjoterapeuta https://balumed.pl
    Redirect 301 /specjalizacje/ginekolog https://balumed.pl/ginekologia
    Redirect 301 /specjalizacje/kardiolog-dzieciecy https://balumed.pl/usg-dzieciece-i-echo-serca
    Redirect 301 /specjalizacje/logopeda-neurologopeda https://balumed.pl
    Redirect 301 /specjalizacje/neonatolog https://balumed.pl/neonantologia
    Redirect 301 /specjalizacje/neurolog-dzieciecy https://balumed.pl
    Redirect 301 /specjalizacje/ortopeda-dorosli-i-dzieci https://balumed.pl
    Redirect 301 /specjalizacje/pediatra https://balumed.pl/pediatria
    Redirect 301 /specjalizacje/pielegniarki-i-polozne https://balumed.pl
    Redirect 301 /specjalizacje/pulmonolog https://balumed.pl
    Redirect 301 /specjalizacje/radiolog https://balumed.pl


    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
