@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/tables";

@import "~bootstrap/scss/modal";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "~aos/dist/aos.css";

//Global bootsrap

.massage-wrapper {
    background-color: #27ddd2;
    text-align: center;

    a {
        width: 100%;
        display: inline-block;
        padding: 10px 0;
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
        color: #fff;
    }
}
.hamburger {
    padding: 15px 15px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #27ddd2;
}

.hamburger-box {
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #27ddd2;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}
.hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

h5.text {
    color: #3f3f3f;
    font-size: 18px;
    margin: 20px 0 30px;
}

.btn-wrapper {
    display: flex;
}
a.btn {
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;

    &.btn-grey {
        background-color: #dddddd;
        border: 1px solid #dddddd;
        color: #fff;
        transition: all 0.25s ease;

        &:hover {
            background-color: #959595;
        }
    }
    &.btn-primary {
        background-color: #27ddd2;
        border: 1px solid #27ddd2;
        color: #fff;
        transition: all 0.25s ease;

        &:hover {
            background-color: #18c6bd;
        }

        &.btn-outline {
            img {
                margin-right: 15px;
                height: 16px;
            }
            background-color: transparent;
            line-height: 24px;
            color: #27ddd2;
            &:hover {
                img {
                    filter: brightness(0) invert(1);
                }
                color: #fff;
                background-color: #27ddd2;
            }
        }
    }
}
a.link {
    text-decoration: none;

    &.primary-link {
        color: #27ddd2;
        transition: color 0.25s ease-in;

        &.arrow {
            position: relative;
            padding-right: 30px;

            &:after {
                content: "";
                position: absolute;
                right: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                top: 0;
                width: 15px;
                height: 15px;
                background-image: url("/images/icons/right-arrow.png");
            }
        }

        &.plus {
            position: relative;
            padding-right: 30px;

            &:after {
                content: "";
                position: absolute;
                right: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                top: 0;
                width: 15px;
                height: 15px;
                background-image: url("/images/icons/plus.png");
            }
        }

        &:hover {
            color: #10afa6;
        }
    }
}
.contact-page__image {
    width: 100%;
    max-height: 580px;
    height: 100%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}
html {
    overflow-x: hidden;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: #3f3f3f;
    overflow-x: hidden;

    .top-bar {
        padding: 20px 0;
        &.stickyHelper {
            margin-bottom: 90px;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .contact-wrapper {
                display: flex;

                & > div {
                    position: relative;
                    padding: 0 30px;
                    font-size: 14px;
                    color: #9f9d9d;
                    a {
                        color: #9f9d9d;
                    }
                    &:before {
                        content: "";
                        width: 17px;
                        top: 3px;
                        left: 0;
                        height: 17px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                    }
                    &.phone:before {
                        background-image: url("/images/icons/phone.png");
                    }
                    &.email {
                        margin-left: 35px;
                        padding-right: 0;
                        &:before {
                            background-image: url("/images/icons/email.png");
                        }
                    }
                }
            }
            .social-wrapper {
                a > img {
                    height: 20px;
                }
            }
        }
    }

    .menu-wrapper {
        border-top: 1px solid #f2fafe;
        border-bottom: 1px solid #f2fafe;
        position: relative;
        background-color: #fff;

        &.sticky {
            position: fixed;
            width: 100%;
            animation: menu 2s forwards;
            left: 0;
            z-index: 100;
            border-top: 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .brand-logo img {
                height: 35px;
            }

            .items-wrapper {
                flex: 1;
                margin-left: 180px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    &.item {
                        display: inline-block;

                        &.link {
                            padding: 25px 10px;
                            color: #929396;
                            font-size: 16px;
                            position: relative;

                            &:hover {
                                color: #4f5258;
                                transition: all 0.25s ease-in;
                            }
                            &.active {
                                color: #27ddd2;
                            }
                        }
                    }
                }
                div.dropdown {
                    padding: 25px 0;
                    color: #929396;
                    cursor: pointer;
                    font-size: 16px;
                    position: relative;
                    &:hover {
                        color: #4f5258;
                        transition: all 0.25s ease-in;
                    }
                }
            }
        }
        .second-nav {
            position: absolute;
            display: none;
            background-color: #fff;
            padding: 20px 0;
            border-bottom: 1px solid #f2fafe;
            border-top: 1px solid #f2fafe;
            z-index: 5;
            width: 100%;
            top: calc(100%);
            left: 0;

            a {
                text-decoration: none;
                color: #929396;
                font-size: 16px;
                img {
                    margin-right: 10px;
                    height: 30px;
                }
                &:hover {
                    color: #4f5258;
                    transition: all 0.25s ease-in;
                }
            }
        }
    }
    .header-wrapper {
        .btn-wrapper {
            & > a:last-of-type {
                span {
                    display: none;
                }
            }
        }
    }

    .header-sub-page-wrapper {
        padding: 70px 0;
        text-align: center;
        background-image: url("/images/bg1.png");

        h1 {
            font-size: 32px;
            color: #3f3f3f;
            font-weight: 700;
            line-height: 38px;
        }

        p.description {
            margin-top: 40px;
            font-size: 14px;
            font-weight: 300;
            color: #5f5f5f;
        }

        .btn-wrapper {
            & > a:last-of-type {
                img {
                    height: 15px;
                    margin-right: 10px;
                }
                margin-left: 20px;
                transition: all 0.25s ease-in;

                &:hover {
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

    .wrapper-title {
        border-bottom: 1px solid #e2e2e2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 18px;
            font-weight: 700;
            color: #3f3f3f;
            text-transform: uppercase;
            margin-bottom: 0px;
        }

        p:last-of-type {
            padding-bottom: 10px;
        }

        @media (max-width: 575.98px) {
            p:first-of-type {
                padding-bottom: 10px;
            }
        }

        p.description {
            font-size: 16px;
            color: #929396;
            display: inline-block;
            margin: 0;
            font-weight: 400;
            position: relative;

            @media (max-width: 575.98px) {
                display: none;
            }

            &.seo-description {
                margin-top: 10px;
                font-size: 14px;
            }

            &:after {
                content: "";
                width: 120%;
                left: 0;
                position: absolute;
                bottom: -1px;
                height: 1px;
                background-color: #27ddd2;
            }
        }
    }

    .card {
        background-color: #fff;
        height: 100%;
        box-shadow: 0 0 35px rgba(212, 212, 212, 0.5);
        border-radius: 5px;
        padding: 30px;
        display: flex;
        flex-direction: column;

        img.icon {
            width: 35px;
            margin-bottom: 15px;
            height: 35px;
        }
        h2.name {
            font-size: 1.1rem;
            color: #3f3f3f;
        }
        p.description {
            color: #9f9d9d;
            font-size: 14px;
        }

        a {
            margin-top: auto;
        }
    }
    .card-secondary {
        padding-bottom: 30px;
        height: 100%;
        border-bottom: 1px solid #d8d8d8;
        transition: all 0.25s ease-in;
        display: flex;
        flex-direction: column;

        &:hover {
            border-bottom: 1px solid #27ddd2;
        }

        .img-wrapper {
            height: 220px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        a {
            margin-top: auto;
        }

        div.card-description {
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;

                &.active {
                    display: block;
                    -webkit-line-clamp: none;
                }
            }
        }

        .js-toggle {
            cursor: pointer;
        }
        div.person-name {
            margin-top: 15px;

            .titles {
                margin: 0;
                color: #9f9d9d;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
            }

            .name {
                font-size: 18px;
                margin-bottom: 0;
                color: #3f3f3f;
                font-weight: 600;
                text-transform: uppercase;
            }

            .services {
                font-size: 12px;
                margin-bottom: 15px;
                display: inline-block;
                font-weight: bolder;
                text-transform: uppercase;
                a {
                    text-decoration: none;
                    color: #27ddd2;
                }
            }
        }
        .article-info {
            margin-top: 40px;
            .date {
                color: #dfdfdf;
                font-size: 14px;
                margin: 0;
            }
            .title {
                font-size: 18px;
                color: #3f3f3f;
                font-weight: bolder;
                margin-bottom: 15px;
            }
        }
        p.description {
            color: #9f9d9d;
            font-size: 14px;
        }
    }
    ul.primary-list {
        margin: 0 0 40px;
        padding: 0;
        list-style: none;

        li {
            padding: 10px 0 10px 30px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 12px;
                width: 16px;
                height: 16px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("/images/icons/pointer.png");
            }
            a {
                text-decoration: none;
                color: #27ddd2;
            }
        }
    }
    .footer {
        background-color: #f3f3f3;
        padding: 40px 0;

        .cta-wrapper {
            border-bottom: 1px solid #e5e5e5;
            display: flex;
            padding-bottom: 30px;
            align-items: center;
            justify-content: space-between;

            .left-contact {
                display: flex;
                align-items: center;
                .avatar-wrapper {
                    margin-right: 10px;
                    img {
                        max-height: 60px;
                        width: auto;
                    }
                }
                .text-wrapper {
                    p {
                        color: #3f3f3f;
                        margin: 0;
                        &:first-of-type {
                            color: #27ddd2;
                        }

                        a {
                            color: #3f3f3f;
                        }
                    }
                }
            }
            .right-social {
                .btn-wrapper {
                    img {
                        filter: brightness(0) invert(1);
                    }
                    & > a:nth-of-type(even) {
                        margin: 0 10px;
                    }
                }
            }
        }
        .seo-text {
            border-top: 1px solid #e5e5e5;
            padding-top: 15px;
            margin-top: 30px;
            p {
                margin: 0;
            }
        }
    }

    .link-footer {
        .title {
            font-size: 18px;
            color: #3f3f3f;
            margin-bottom: 30px;
            display: inline-block;
            font-weight: bolder;
            position: relative;
            &:after {
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                background-color: #27ddd2;
                bottom: -10px;
                left: 0;
            }
        }
        .info {
            font-size: 16px;
            color: #3f3f3f;
            margin-bottom: 15px;

            a {
                text-decoration: underline;
                color: #3f3f3f;
            }

            &.text {
                padding-right: 40px;
                text-align: justify;
            }
        }
    }
    .partners {
        padding: 50px 0;
        ul {
            margin: 0;
        }
    }

    .donation {
        background-color: #f3f3f3;
        padding: 20px 0;

        .logos-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 767.98px) {
                flex-direction: column;
            }
            & > div {
                flex: 1;
                padding: 0 30px;
                @media (max-width: 767.98px) {
                    padding: 15 0px;
                }
                & > img {
                    width: 100%;
                    max-width: 200px;
                }
            }
        }
        .text {
            color: #929292;
            text-align: center;
            font-size: 14px;
            margin-top: 20px;
        }
    }
    .copyright {
        background: #f3f3f3;
        padding: 20px 0;
        text-align: center;
        color: #3f3f3f;
        font-size: 14px;
        font-weight: bolder;
    }
}

body .menu-wrapper nav .items-wrapper a.item.link.mobile {
    display: none;
}

.brand-logo-mobile {
    display: none;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body .top-bar .container .contact-wrapper > div.phone {
        span:last-of-type {
            display: none;
        }
    }

    body .top-bar .container .contact-wrapper > div.email {
        margin-left: 10px;
    }
    .header-wrapper {
        .btn-wrapper {
            & > a:first-of-type {
                display: none;
            }
            & > a:last-of-type {
                span {
                    display: inline !important;
                }
                width: 100%;
                text-align: center;
                margin-left: 0 !important;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body .top-bar.stickyHelper {
        margin: 0;
    }
    .top-bar .social-wrapper {
        display: none;
    }
    body .menu-wrapper nav {
        display: none;
    }
    body .menu-wrapper nav .items-wrapper {
        flex-direction: column;
    }
    body .menu-wrapper nav .items-wrapper a.item.btn {
        margin-bottom: 20px;
    }
    body .menu-wrapper nav .items-wrapper a.item.link.mobile {
        display: block;
    }
    body .menu-wrapper nav .items-wrapper .item.dropdown {
        display: none;
    }

    nav .brand-logo {
        display: none;
    }

    .menu-wrapper__holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    .hamburger {
        display: inline-block;
        &:focus {
            outline: none;
        }
    }

    .brand-logo-mobile {
        display: block;
        img {
            height: 35px;
        }
    }

    body .menu-wrapper nav .items-wrapper {
        margin-left: 0px !important;
    }

    body .wrapper-title p.description:after {
        width: 80%;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    body .menu-wrapper nav .items-wrapper {
        margin-left: 80px;
    }

    body .footer .cta-wrapper {
        flex-direction: column;
    }

    .right-social {
        margin-top: 40px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

@keyframes menu {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}
.modal-header {
    border-bottom: 0;
}
.modal-header .close {
    background: none;
    outline: 0;
    border: 0;
}

.img-wrapper-modal {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.modal-description {
    margin-bottom: 10px;
}

.btn-modal {
    margin-bottom: 20px;
    display: block;
}

.modal-specialist {
    padding: 0 40px 40px;
    .main-info {
        border-bottom: 1px solid #27ddd2;
        padding: 0px 0 20px;
        margin-bottom: 20px;
        display: flex;

        .img {
            width: 150px;
            height: 150px;
            background-position: center;
            background-size: cover;
            margin-right: 20px;
        }

        .titles {
            margin: 0;
            color: #9f9d9d;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bolder;
        }

        .services a {
            text-decoration: none;
            color: #27ddd2;
        }
    }
    .description p {
        margin: 0;
        text-align: justify;
    }
}

@media (max-width: 575.98px) {
    .modal-specialist .main-info {
        flex-direction: column;
    }
    .modal-specialist .main-info .img {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
